.mobile-only {
    display: none;
}

@media(max-width: 599px) {
    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }
}

html, body {
    font-family: 'Open Sans', sans-serif;
}

.site-content {
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

@media(max-width: 900px) {
    .site-content {
        flex-direction: column;
        padding: 0;
    }
}

body.blog .site-content .site-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media(max-width: 1460px) {
    body.home .site-content .site-main { 
        flex-direction: column;
        justify-content: center;
    }
}

body.home .site-content .site-main article.post,
body.blog .site-content .site-main article.post {
    padding: 10px 40px 20px;
    box-shadow: 0 10px 25px 0 rgba(0,0,0,0.55);
    transition: all 250ms ease-in-out;
    margin: 30px 20px 80px;
    max-width: 700px;
    min-width: 500px;
}

@media(max-width: 700px) {
    body.blog .site-content .site-main article.post {
        padding: 5px 5px 10px;
        margin: 10px 8px 30px;
        min-width: 0;
    }
}

body.home .site-content .site-main article.post:hover,
body.blog .site-content .site-main article.post:hover {
    box-shadow: 0 10px 35px 0 rgba(0,0,0,0.7);
    transform: scale(1.02);
}

body.blog .site-content .site-main article.post h2.entry-title {
    text-align: center;
}

article.post a {
    color: black;
}

article.post footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article.post footer span {
    margin: 0;
}

article.post footer span.tags-links {
    text-align: right;
}

article.post footer span.comments-link, article.post footer span.edit-link {
    width: 100%;
    padding: 10px 0 0;
    text-align: right;
}

@media(max-width: 700px) {
    article.post footer span.comments-link, article.post footer span.edit-link {
        text-align: left;
    }
}

.content-area {
    padding: 20px;
}

@media(max-width: 599px) {
    .content-area {
        padding: 0;
    }
}

aside.widget-area {
    padding: 20px;
    min-width: 320px;
    max-width: 400px;
    border-left: 1px solid rgba(0,0,0,0.2);
}

aside.widget-area ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

aside.widget-area .widget {
    padding: 5px;
}

aside.widget-area .widget .widget-title {
    padding: 0;
    margin: 0 0 10px;
}

aside.widget-area .github-widget {
    border: none;
}

aside.widget-area .widget_recent_entries ul li {
    padding: 10px 0;
    line-height: 20px;
}

img.post-img {
    text-align: center;
    margin: 10px auto;
    width: 100%;
    height: auto;
}

img.post-featured-img {
    text-align: center;
    margin: 10px auto;
}

.post-excerpt-image-wrapper {
    display: flex;
}

img.img-blog-excerpt {
    text-align: center;
    margin: 0 auto;
}