.site-header .main-navigation {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 40px 0;
}

.site-header .main-navigation ul {
    float: right;
    margin-top: 12px;
}

.site-header .main-navigation ul li {
    margin: 0 20px;
}

.site-header .main-navigation ul li a {
    color: white;
    font-size: 16pt;
}

.site-header .site-branding {
    background-size: cover;
}

.site-header .site-branding h1.site-title,
.site-header .site-branding p.site-description {
    color: white;
    text-align: center;
    margin: 0;
    transition: opacity 250ms ease-in-out;
}

.site-header .site-branding h1.site-title {
    font-size: 40pt;
    padding-top: 200px;
}

.site-header .site-branding p.site-description {
    font-size: 30pt;
}

.site-header .main-navigation .site-title {
    float: left;
    margin: 0 0 0 25px;
}

.site-header .main-navigation .site-title a {
    text-decoration: none;
    color: white;
}