body.home .site-content {
    max-width: 100%;
    padding: 0;
    margin: 0;
}

body.home .intro {
  padding: 0 200px;
}

@media(max-width: 1100px) {
    body.home .intro {
        padding: 0 40px;
    }
}

body.home .skills {
    background-color: rgba(0,0,0,0.6);
    -webkit-clip-path: polygon(0 0, 100% 15%, 100% 95%, 0 100%);
    clip-path: polygon(0 0, 100% 15%, 100% 95%, 0 100%);
    margin: 0 0 30px;
}

body.home .skills .skills-container {
    padding: 50px 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media(max-width: 900px) {
    body.home .skills .skills-container {
        padding: 100px 20px;
    }
}

@media(max-width: 800px) {
    body.home .skills {
        -webkit-clip-path: polygon(0 0, 100% 15%, 100% 95%, 0 100%);
        clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 100%);
    }
}

@media(max-width: 500px) {
    body.home .skills {
        -webkit-clip-path: polygon(0 0, 100% 1%, 100% 98%, 0 100%);
        clip-path: polygon(0 0, 100% 1%, 100% 98%, 0 100%);
    }
}

body.home .skills h1 {
    color: white;
    text-align: center;
    padding: 100px 0 0 0;
}

body.home .skills img.skill {
    height: 150px;
    margin: 20px 40px;
}